/* FONTS */
@font-face {
    font-family: "Shoryuken";
    src: url(sources/Fonts/Da\ Streets.ttf) format("truetype");
   }
/*GENERAL  */
*{
    margin: 10px;
    padding: 0;
    font-family: Shoryuken;
    /* border: red 1px solid; */
}
/* body */
body
{
    background-image: url(sources/images/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    

}
ul{
    list-style: none;
}
/* header */
header{

    flex-grow: 1;
    flex-basis: 10vh;
}
h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Shoryuken';
    color: #fec109;
    text-shadow: black -3px 3px 0px;
    
}
#logo{
    /* background: url(sources/images/Title.png) no-repeat; */
    background-image: url(sources/images/Title.png);
}
#sub
{
    transform: rotate(-15deg);
}
/* Main */
#main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 60vh;
    
    
}
/* identity */
#identity{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}
#portrait{
    flex-basis: 90%;
}
#listPhoto{
    position: relative;
    width: 100%;
    height: 100%;

}
.photoCharac{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity:0;
}
.photoCharac:nth-child(1){
    background-image: url(sources/images/Akuma.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photoCharac:nth-child(2){
    background-image: url(sources/images/Ryu.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photoCharac:nth-child(3){
    background-image: url(sources/images/Ken.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photoCharac:nth-child(4){
    background-image: url(sources/images/Dhalsim.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photoCharac:nth-child(5){
    background-image: url(sources/images/ChunLi.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photoCharac:nth-child(6){
    background-image: url(sources/images/Guile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photoCharac:nth-child(7){
    background-image: url(sources/images/Bison.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photoCharac:nth-child(8){
    background-image: url(sources/images/FeiLong.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#name{
    
    flex-basis: 10%;
    color: #ed2024;
    text-shadow: black -3px 3px 0px;
    font-size: 3em;
    align-self: center;



}
#characGrid
{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
 
    
}
#characList1
{
    flex-grow: 1;
    display: flex;
    margin: 0;
    
}
#characList2
{
    flex-grow: 1;
    display: flex;
    margin: 0;
    
    
}
.charac
{
    flex-grow: 1;
    margin: 0;
    /* background-size: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    
}
.bw
{
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#characList1 .charac:nth-child(1){
    background-image: url(sources/images/Akuma_sm_col.jpg);
}
#characList1 .charac:nth-child(2){
    background-image: url(sources/images/Ryu_sm_col.jpg);
}
#characList1 .charac:nth-child(3){
    background-image: url(sources/images/Ken_sm_col.jpg);
}
#characList1 .charac:nth-child(4){
    background-image: url(sources/images/Dhalsim_sm_col.jpg);
}
#characList2 .charac:nth-child(1){
    background-image: url(sources/images/ChunLi_sm_col.jpg);
}
#characList2 .charac:nth-child(2){
    background-image: url(sources/images/Guile_sm_col.jpg);
}
#characList2 .charac:nth-child(3){
    background-image: url(sources/images/Bison_sm_col.jpg);
}
#characList2 .charac:nth-child(4){
    background-image: url(sources/images/FeiLong_sm_col.jpg);
}
.bw-1{
    background-image: url(sources/images/Akuma_sm_bw.jpg);
}
.bw-2{
    background-image: url(sources/images/Ryu_sm_bw.jpg);
}
.bw-3{
    background-image: url(sources/images/Ken_sm_bw.jpg);
}
.bw-4{
    background-image: url(sources/images/Dhalsim_sm_bw.jpg);
}
.bw-5{
    background-image: url(sources/images/ChunLi_sm_bw.jpg);
}
.bw-6{
    background-image: url(sources/images/Guile_sm_bw.jpg);
}
.bw-7{
    background-image: url(sources/images/Bison_sm_bw.jpg);
}
.bw-8{
    background-image: url(sources/images/Feil_Long_sm_bw.jpg);
}


#stats
{
    flex-basis: 30%;
    
}
#performance
{
    display: flex;
    flex-direction: column;
    height:100%;


}
.skill{
    flex-grow: 1;

}
/* #story */
#story{
    flex-grow: 1;
    flex-basis: 30vh;
}
#history{
    font-family: Arial, Helvetica, sans-serif;
}
.progress{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(236, 234, 234);
    height: 1.5rem;
}
.progress-bar{
    width: 100%;
    background-color: #d66478;
    height: 1.5rem;
    border-radius: 10px;
    margin: 0;
    
}
#strength{
    width: 100%
}
#speed{
    width: 60%
}
#resistance{
    width: 60%
}
#combo{
    width: 100%
}
